{% extends 'base.html' %}
{% block body %}
{% block head %}
 <style>
   

       .height{
        height: 20vh;
       }
       

       .search{
       position: relative;
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;


       }

       

       
 </style>
 
{% endblock head %}
<br>

<div class="container">
  <h1 style="text-align :center;font-family:Georgia">Events in COEP</h1>
  <br>
  <div class="row">
      <div class="h-25 d-inline-block">

          <div class="col">

              {%for item in events%}

              
              <div class="card mb-4" style="max-width: 100%;font-family : Trebuchet MS">
                  <div class="row g-0" style="width:100%">
                      <div class="col-md-4">
                          <img src="{{item.image.url}}" class="rounded-start"  style="width: 100%;height: 100%;box-shadow:2px 2px 5px;">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                                <h3 class="card-title" style="color:grey;">{{item.eventname}}</h3>
                              
                              <hr>
                              
                              <p class="card-text" style="font-weight:500">{{item.desc}}</p>
                              <p class="card-text"><medium class="text-muted">{{item.date}}</medium></p>
                              <form action="{% url 'eventlogin' %}" method="">
                                {%csrf_token%}
                                <input type="hidden" name="eventname1"  value="{{item.eventname}}"/>
                                <button href="/eventlogin" class="btn btn-primary" method="submit">Register</button>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}


          </div>
      </div>
  </div>
</div>
    

{%endblock body%}

