{% extends 'base.html' %}
{% block body %}
{% block head %}

 <style>
   

       .height{
        height: 20vh;
       }
       

       .search{
       position: relative;
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;


       }

       .container{
         margin=200px;
         box-shadow:2px ;
         position:center;
       }

       
 </style>
{% endblock head %}

<br>
 
<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">

    <div class="col-md-8">
    {% csrf_token %}
    <form method="POST">
      {% csrf_token %}

      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder=" Search by branch" name = "branchname" >
        <br>
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
    </div>
    
  </div>
  <h1 style="text-align :center;font-family:Georgia">COEP Alumnus</h1>
  <br>
  <div class="row">
      <div class="h-25 d-inline-block">

          <div class="col">

              {%for item in profiles%}


              <div class="card mb-3" style="max-width: 100%;font-family : Trebuchet MS;position:center">
                  <div class="row g-0" style="width:100%">
                      <div class="col-md-4">
                          <img src="{{item.profileimage.url}}" class="rounded-start"  style="width: 100%;height: 100%;box-shadow:2px 2px 5px;">
                      </div>
                      <div class="col-md-8" style="position:center;">
                          <div class="card-body" >
                              <h3 class="card-title" style="color:grey;">{{item.profilename}}</h3>
                              <hr>
                              
                              <p class="card-text" style="font-weight:500"><b>Branch : </b>{{item.branch}}</p>
                              <p class="card-text" style="font-weight:500"><b>Email : </b>{{item.profileemail}}</p>
                              <p class="card-text" style="font-weight:500"><b>Contact : </b>{{item.profilenumber}}</p>
                              <p class="card-text" style="font-weight:500"><b>Description :</b> <br>{{item.profiledesc}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}


          </div>
      </div>
  </div>
</div>
    

{%endblock body%}

