{% extends 'base.html' %}


{% block body %}
<br>
<div class="card-deck">
      <div class="card text-center" >
          
          <img class="card-img-top" src="/static/formprofile.jpg" alt="Card image top" height="400">
          <div class="card-body">
              <h4 class="card-title">Add Profile</h4>
              <p class="card-subtitle">Fill your personal details here</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/profile'">Add Profile</button>          </div>
      </div>
      <div class="card text-center" >
          
        <img class="card-img-top" src="/static/formevents.jpg" alt="Card image top" height="400">
        <div class="card-body">
            <h4 class="card-title">Add Event</h4>
            <p class="card-subtitle">Fill event details here</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" onclick="window.location.href='/events'">Add Event</button>          </div>
    </div>
  </div>
</div>  
    

{% endblock body %}

