
{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<section class="vh-100" >
  <br>
    <div class="container h-100" style="background-color: #eee;border-radius: 25px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>
  
                  <form class="mx-1 mx-md-4" method="post" action="/login" novalidate>
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <span class="bi bi-envelope-fill fa-lg"></span>
                              </span>                    
                          </div>
                          <input type="text" class="form-control" placeholder="Username" name="loginemail" required="required">
                      </div>
                  </div>
  <br>
                  <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-key-fill fa-lg"></i>
                            </span>                    
                        </div>
                        <input type="password" class="form-control" placeholder="Password" name="loginpassword" required="required">
                    </div>
                </div> 
 
                    <div class="pt-1 mb-4">
                        <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
                    </div>
                      
                  <hr>
                    <p>Don't have an account? <a href="/register" class="link-info">Register here</a></p>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="/static/Login.jpg"
                    class="img-fluid" alt="Sample image" style="border-radius: 15px;">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
